* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    
    
}



header, .main {
    background: #1F2937;
    padding: 16px 200px;
    
}

.logoimg {
    width: 75px;

}

.navbar-list-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.navbar-logo {

    font-size: 24px;
    color: #F9FAF8;
}

.left-links {
    
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.joinme {
    width: 500px;
}

.joinme h1{
    font-size: 42px;
    color: #F9FAF8;
}

.joinme p {
    font-size: 18px;
    color: #E5E7EB;
    
}




.image-place {
        height: 200px;
        width: 500px;
        
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        
     
    
}


.image-place-img {
    max-width: 100%;
    height: auto;
   

}


/* Styling .main - the sign up and image section*/

.main {
    
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
    align-items: flex-start;
    
}


/* Styling the button */

.signup {
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
    background:#3882F6;
    color: #F9FAF8;
}

/* 3dr part */

.selection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
    
}

.selection-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
   
}

.selection-classes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    
}

.volcano-img, .huila-img, .sierra-img, .origin-img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 2px solid #3882F6;
    overflow: hidden;
    margin: 0 auto;
  
    
}

.selection-classes img {
    width: 100%;
    height: 100%;


}

.selection-classes p{
    margin-top: 20px;
    text-align: center;
    
}

.volcano, .huila, .sierra, .origin {
    
    display: flex;
    flex-direction: column;
    width: 200px;

    }

/*Quote section */

.quote{
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

    
}

.quote-container {

   
    width: fit-content;

}

.quote-text {
    
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    
    font-size: 26px;
    color: #1F2937;
    font-style: italic;
    text-align: right;
   
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}


/* Call to action section */

.callsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    
}

.callsignup-container {
    background: #3882F6;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;

    padding: 30px 40px;

}

.callsignup-text {
    color: #F9FAF8;


}

.callsignup-text h1 {

    font-weight: 800;
}

.bottom-buttom {

    
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    padding: 8px 30px;
    background:#3882F6;
    color: #F9FAF8;

}